.header_wrap {
    background: #FAFAFA;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 15px;
}

.header_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.menu li a {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 21px;
    margin: 5px 15px;
}

.scale {
    transition: 0.09s;
    text-align: center;
}

.scale:hover {
    transform: scale(1.1);
}

@media (max-width: 700px) {

    .header {
        flex-direction: column;
    }

    .header_top {;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu {
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu li {
        margin-bottom: 24px;
    }

    .header_logo {
        margin-bottom: 24px;
    }

}